/* ==========================================================================
   Deprecated styles
   These styles were present in the original theme but are no longer used by any of the templates
   ========================================================================== */

/* Classes
   ========================================================================== */

/*.bottom-closer .inner .custom-links {
    margin: 0 0 50px;
  }*/

/* ==========================================================================
   Unused styles
   These styles were present in the original theme but seem not to be used by any of the templates
   ========================================================================== */

/* Classes
   ========================================================================== */

/*.archive-template .index-headline.featured {
    display: none;
}*/
/*.post-tag-articleimage {
  display: none;
}*/
/*.post-template .content {
  max-width: 700px;
}*/

/*#disqus_thread {
    margin-top: 50px;
}*/
