/* ==========================================================================
   Temporary styles
   These styles are present in the original theme and have to be revamped or improved during future developments
   ========================================================================== */

/* Classes
   ========================================================================== */

  .container .featured {
    padding-bottom: 40px;
  }
  .post .article-image .post-meta-text a {
    color: rgba(var(--tint-white), 0.75);
  }
  .post .article-image .post-meta-text a:hover {
    color: rgb(var(--tint-white));
  }
  .post .article-image .fa-angle-down {
    font-size: 64px;
    margin: 64px auto 0;
    color: rgba(var(--tint-white), 0.75);
  }
  .post .article-image .fa-angle-down:hover {
    color: rgb(var(--tint-white));
  }
  .post .bottom-teaser .isLeft a {
    color: rgb(var(--tint-black));
    text-decoration: underline;
  }
  .post .bottom-teaser .isLeft a:hover {
    color: rgb(var(--tint-nightrider));
    text-decoration: underline;
  }

/* ==========================================================================
   Hypothetical styles
   These styles are present in the original theme but have not yet been implemented in working skeleton and could be properly reintroduced during future developments
   ========================================================================== */

/* Elements
   ========================================================================== */

/*code,
  pre {
    font-size: 15px;
    border: 1px solid rgb(var(--tint-whisper));
    border-radius: 3px;
    background-color: rgb(var(--tint-lavender));
  }*/
/*code {
    padding: 1px 5px;
  }*/
/*pre {
    padding: 8px 12px;
    overflow-x: auto;
  }*/
/*pre > code {
    border: 0;
    padding-right: 0;
    padding-left: 0;
  }*/

/* Classes
   ========================================================================== */
/*.post .post-content hr {
    border: 0;
    padding: 0;
    display: block;
    width: 15%;
    margin: 30px auto;
    border: 0px solid rgb(var(--tint-black));
    border-top: 1px solid rgb(var(--tint-black));
  }*/
/*.post .post-content blockquote {
    margin: 0 0 30px;
    margin-left: -26px;
    border-left: 3px solid rgb(var(--tint-fern));
    padding-left: 20px;
  }*/
/*.post .post-content blockquote p {
    letter-spacing: 0.01rem;
    font-weight: 400;
    font-style: italic;
    border-left: 3px solid rgb(var(--tint-fern));
    padding-left: 20px;
    margin-left: -26px;
    padding-bottom: 3px;
  }*/
/*.post .post-content ul,
  .post .post-content ol {
    padding: 0 0 30px;
    margin: 0;
  }*/
/*.post .post-content li {
    padding: 0;
    font-weight: 400;
    font-style: normal;
    font-size: 23px;
    line-height: 30px;
    margin-left: 30px;
    margin-bottom: 12px;
    padding-top: 2px;
  }*/
/*.post .post-content li p {
      padding: 0 0 1.618rem;
  }*/
/*.post .post-content ol li {
    list-style-type: decimal;
  }*/

/* ==========================================================================
   Deprecated styles
   These styles were present in the original theme but are no longer used by any of the templates
   ========================================================================== */

/* Classes
   ========================================================================== */

/*.bottom-closer .inner .custom-links {
    margin: 0 0 50px;
  }*/

/*.post .noarticleimage .author-image {
    width: 30px;
    height: 30px;
    line-height: 30px;
    margin-right: 8px;
    margin-bottom: -10px;
    float: left;
    background-size: cover;
    border-radius: 100%;
    text-indent: -9999px;
  }*/
/*.post .noarticleimage .author-name {
    display: inline;
  }*/
/*.post .noarticleimage .post-meta-text {
    color: rgb(var(--tint-bombay));
    letter-spacing: -0.02em;
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    overflow: hidden;
    font-family: var(--font-sns);
    white-space: nowrap;
    text-overflow: ellipsis;
  }*/
/*.share a .hidden {
    display: none;
  }*/

/* ==========================================================================
   Unused styles
   These styles were present in the original theme but seem not to be used by any of the templates
   ========================================================================== */

/* Classes
   ========================================================================== */

/*.archive-template .index-headline.featured {
    display: none;
}*/
/*.post-tag-articleimage {
  display: none;
}*/
/*.post-template .content {
  max-width: 700px;
}*/

/*#disqus_thread {
    margin-top: 50px;
}*/
