:root {
    /* Collate initial hexadecimal colors */
    --hex-33: #333333;
    --hex-57: #57ad68;
    --hex-66: #666666;
    --hex-99: #999999;
    --hex-b3: #b3b3b1;
    --hex-bb: #bbbbbb;
    --hex-cc: #cccccc;
    --hex-dd: #dddddd;
    --hex-de: #dededc;
    --hex-e8: #e8e8e8;
    --hex-ee: #eeeeff;
    --hex-f2: #f2f2f0;
}
