:root {
  /* Converted palette */
  --tint-white: 255, 255, 255;
  --tint-alabaster: 242, 242, 240;      /* circa Alabaster */
  --tint-lavender: 238, 238, 255;       /* circa Lavender */
  --tint-whisper: 232, 232, 232;        /* circa Whisper */
  --tint-snowdrift: 222, 222, 220;      /* circa Snow Drift */
  --tint-fern: 87, 173, 104;            /* circa Fern */
  --tint-black: 0, 0, 0;
}
