:root {
  /* Converted palette */
  --tint-lavender: 238, 238, 255;       /* circa Lavender */
  --tint-whisper: 232, 232, 232;        /* circa Whisper */
  --tint-fern: 87, 173, 104;            /* circa Fern */
  --tint-black: 0, 0, 0;
}
