@font-face {
  font-family: Libertinus Serif;
  font-style:  normal;
  font-weight: 400;
  src: local(Libertinus Serif), local(Libertinus Serif Regular), local(Libertinus),
    url("LibertinusSerif-Regular.woff2?v=7.040") format("woff2");
}
@font-face {
  font-family: Libertinus Serif;
  font-style:  italic;
  font-weight: 400;
  src: local(Libertinus Serif Italic),
    url("LibertinusSerif-Italic.woff2?v=7.040") format("woff2");
}

@font-face {
  font-family: Libertinus Serif;
  font-style:  normal;
  font-weight: 700;
  src: local(Libertinus Serif Bold),
    url("LibertinusSerif-Bold.woff2?v=7.040") format("woff2");
}
@font-face {
  font-family: Libertinus Serif;
  font-style:  italic;
  font-weight: 700;
  src: local(Libertinus Serif Bold Italic),
    url("LibertinusSerif-BoldItalic.woff2?v=7.040") format("woff2");
}
