{% extends 'partials/base.html.twig' %}

{% block content %}
    <div class="page-content">
        <div class="wrapper">
            <h1>{{ 'THEME_HEREDITOR.ERROR' | t }} {{ page.header.http_response_code }}</h1>
            <p>
                {{ page.content }}
            </p>
        </div>
    </div>
{% endblock %}
